<div>
   <h1 class="text-primary pt-3 ms-5">Edit Profile</h1>
      <hr>
	<div class="row">
    <div class="col-md-9 personal-info ms-5 mt-5">
        <div class="alert alert-info alert-dismissable mt-5">
        Edit your profile. Please enter your password before update info!
        </div>
        <h3>Personal info</h3>
        
        <div class="form-horizontal" role="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
         <div class="form-group">
            <%= f.label :email, class: "col-lg-3 control-label" %><br />
            <div class="col-lg-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
           </div>
         <div class="form-group">
            <%= f.label :name, class: "col-lg-3 control-label" %><br />
            <div class="col-lg-8">
            <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
          </div>
           </div>

          <div class="form-group">
            <%= f.label :photo, class: "col-lg-3 control-label" %><br />
            <div class="col-lg-8">
            <%= f.text_field :photo, autocomplete: "photo", class: "form-control" %>
          </div>
           </div>

          <div class="form-group">
            <%= f.label :bio, class: "col-lg-3 control-label" %><br />
            <div class="col-lg-8">
            <%= f.text_area :bio, autocomplete: "photo", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :current_password, class: "col-lg-3 control-label" %><br />
            <div class="col-lg-8">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
           </div>

           <div class="actions">
        <%= f.submit "Update",class:"btn btn-sl btn-success mt-2 btn-block btnForget" %>
          </div>
          <% end %>
         <h3>Cancel my account</h3>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-sl btn-danger mt-2 btn-block btnForget"  %>
          <%= link_to "Back", :back, class: "edit-back"%>
          </div>
        </div>
      </div>