<section class="user-wrapper">
<%= link_to "See all posts", user_posts_path(@user.id), class: "link-to-all-posts" %>
  <%= render "user", user: @user %>
  <div class="bio-wrapper flex-one">
    <h3 class="bio">Bio</h3>
    <p><%= @user.bio %> </p>
  </div>
  <ul class="recent-post">
    <% @user.most_recent_posts.each do |post| %>
      <li class="posts flex-one" >
        <%= link_to user_post_path(@user.id, post.id) do %>
          <h3><%= post.title %></h3>
          <% end %>
          <p><%= post.text %> </p>
          <div class="comments-likes">
          <small>Comments: <%= post.comments.size %></small>
          <small>Likes: <%= post.likes.size %></small>
          </div>
      </li>
  <% end %>
  </ul>
  <section>

