<section class="all-posts">
    <%= link_to "All Users", root_path, class: "all-users-link" %>
    <div class="user">
      <img class="user-img" src="<%= @user.photo %>" alt="<%= @user.name %>">
      <a class="link-to-user" href="/users/<%= @user.id %>"><%= @user.name %></a>
      <h4 class="posts-count">Posts(<%= @user.posts.size %>)</h4>
        <% if current_user && current_user.id == @user.id %>
     <%= link_to "New post", new_user_post_path(@user.id) %>
    <% end %>
    </div>
   <ul class="posts-wrapper" >
      <% @user.all_posts.each do |post| %>
        <li>
          <div class="post-container flex-one">
          <div class="single-post">  
            <%= link_to user_post_path(@user.id, post.id) do %>
            <h3 class="post-tittle"><%= post.title%></h3>
            <% end %>
            <p><%= post.text%></p>
          </div>
            <div class="counters">
              <span>Comments: <%= post.comments.size %></span>
              <span>Likes: <%= post.likes.size %></span>
              </div>
            </div>
             <%= render "most_recent_comments", post: post %> 
          </li>
      <% end %>
    </ul>
  </section>
