<section class="user-post-comments">
<%= button_to "Delete", user_post_path(user_id: @post.author.id, post_id: @post.id), method: :delete, class: 'delete-post' if can? :destroy, @post %>
  <div class="post-user flex-one">
    <div class="user-flex">
      <h3 class="post-title"><%= @post.title %> by <%= @user.name %></h3>
       <small class="user-counters">
          <p>Comments : <%= @post.comments.size%></p>
          <p>Likes : <%= @post.likes.size %></p>
        </small>
    </div>
    <p><%= @post.text %> </p>
  </div>
  <%= render "likes/new" %>
  <div class="comments-user">
   <%= render "post_comments", post: @post %> 
   <%= render "comments/new" %>
  </div>
  <%= link_to "Back", :back , class: "back"%>
</section>

